.accordion 
{
    background-color: #a547c1;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 500px;
    text-align: left;
    font-family: arial;
    font-style: italic;
    font-weight: bold;
    border: none;
    outline: none;
    transition: 0.4s; 
    margin-left:30%;
    margin-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #8709b5;
    border-bottom-width: thick;
}

.active, .accordion:hover 
{
    background-color: #6822ad;
    border-bottom-color: #440384;
}

.accordion:after {
    content: "\25BC"; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\25B2"; 
}

.panel 
{
    width: 460px;
    padding: 0 18px;
    border-style: none;
    border-width: 1px;
    border-color: #cecece;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-left: 30%;
    margin-bottom: none;
}